#scrroll-in-snackbar {
  visibility: hidden;
  min-width: 250px;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
  border-radius: 32px;
  font-family: system-ui;
  font-weight: 600;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#scrroll-in-snackbar b {
    font-weight: 900;
    margin-left: 6px;
}

#scrroll-in-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#scrroll-in-snackbar.orange {
    background-color: #e67e22;
}

#scrroll-in-snackbar.red {
    background-color: #e74c3c;
}

#scrroll-in-snackbar.green {
    background-color: #2ecc71;
}



@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
