* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;



.container {
	/* text-align: center; */
	height: 100vh;
	width: 100vw;
	background-color: #242a36;
}
.header {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2ecc71;
	margin-bottom: 50px;
}
#saved-urls {
	width: 85vw;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.header img {
	margin-right: 10px;
}
a {
	text-decoration: none;
}
p {
	width: 90%;
	text-decoration: none;
	margin-right: 4%;
}

.bookmark img {
	margin-right: 10px;
}
.bookmark:hover {
	transform: scale(1.07);
}

.bookmark {
	padding: 30px;
	margin: 0px;
	margin-top: 10px;
	/* border: 3px solid #ff6629; */
	max-height: 80px;
	border-radius: 40px;
	cursor: pointer;
	display: flex;
	transition: all 0.3s ease;
	justify-content: flex-start;
	align-items: center;
	background-color: #e67e22;
	text-decoration: none;
	color: #242a36;
	font-weight: bolder;
	/* min-width: 250px; */
}

.bookmark p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 20px;
}

.bookmark:hover {
	color: #fff;
}
.bookmark:hover span {
	background-color: #5fcc21;
	color: #fff;
}

h1 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 45px;
}

.bookmark span {
	background-color: #fff;
	color: black;
	border-radius: 23px;
	width: 80px;
	height: 50px;
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bolder;
}

@media only screen and (max-width: 500px) {
	#saved-urls a {
		font-size: 8px;
	}
	h1 {
		font-size: 20px;
	}

	.bookmark {
		margin-top: 0;
		height: 40px;
	}
	.bookmark p {
		font-size: 14px;
	}
	#saved-urls img {
		width: 15px;
		margin: 0 6px;
	}
	#saved-urls div {
		padding: 4px;
	}
	.header {
		padding: 15px;
		margin-bottom: 25px;
	}
	.bookmark span {
		width: 40px;
		height: 25px;
		margin: 0 6px;
		font-size: 9px;
	}
}
