*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  /* font-family: roboto; */
}

body{
  margin: 0;
}

#root{
  /* padding: 10px; */
  position: relative;
}

.options{
  float:right;
  text-align: center;
  padding: 3px;
  width: 100%;
  /* font-weight: 700; */
  color: white;
  transition: all 0.3s;
  background: #27A7ED;
  box-shadow: inset 0 2px 3px 2px #0003;
}
.options a{
  /* text-decoration: none; */
  color: white;
}
.options:hover{
  background: #3F70FF;
}

#getScrollCon{
  /* margin-bottom:10px; */
  display:flex;
  justify-content:center;
  width:100%;
}
#getScroll{
  width:100%;
}
#saveScroll{
  width:100%;
}



#controlsCon{
  display:flex;
  justify-content: center; 
  width:100%;
}
#upScroll, #deleteScroll{
  width: 50%;
}



.btn {
  position: relative;

  display: block;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  overflow: hidden;

  border-width: 0;
  outline: none;
  /* border-radius: 2px; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  font-weight: normal;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover,
.btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover,
.btn.red:focus {
  background-color: #c0392b;
}
