*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

/* Theme changed */
.popup {
	width: 395px;
	background: #242a36;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 16px;
}
.head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image {
	width: 69px;
	height: 69px;
}
.settings {
	width: 32px;
	height: 32px;
	margin: 16px;
}
.btn-font {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
}
.btn-font:hover {
	opacity: 0.9;
	transform: translateY(1px);
}
.p {
	width: 340px;
	height: 46px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: #ffffff;
}
.green {
	width: 339px;
	height: 41px;
	background: #2ecc71;
	border-radius: 6px;
	border: none;
	font-size: 20px;
	line-height: 28px;
	color: #fff;
	outline: none;
	margin-bottom: 10px;
}
.buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 96%;
}

.btns {
	width: 148px;
	height: 41px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	border: none;
	background: #e67e22;
	border-radius: 6px;
	font-size: 20px;
	outline: none;
	color: #fff;
}
.btns:hover {
	opacity: 0.8;
	transform: translateY(1px);
}
.red {
	background: #e74c3c;
}
